{% load static %}<!-- static/templates/home.html -->
<!DOCTYPE html>
<html lang="tg">
<head>
    <meta charset="UTF-8">
    <title>Саҳифаи Корҳо</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Рӯйхати Корҳо</h1>

    <!-- Филтри категорияҳо -->
    <form method="GET" action="{% url 'home' %}">
        <label for="category">Филтр бо категория:</label>
        <select name="category" id="category">
            <option value="">Ҳамаи категорияҳо</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id|stringformat:"s" == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Филтр</button>
    </form>

    <!-- Рӯйхати корҳо -->
    <div class="jobs-container">
        {% for job in jobs %}
        <div class="job-card">
            <img src="{% static 'images/' %}{{ job.image_poster }}" alt="{{ job.title }}" class="job-image">
            <h2>{{ job.title }}</h2>
            <p>Ширкат: {{ job.company }}</p>
            <p>Ҷойгиршавӣ: {{ job.location }}</p>
            <a href="{% url 'job_detail' job.id %}">Бештар</a>
        </div>
        {% empty %}
        <p>Ҳеҷ коре вуҷуд надорад.</p>
        {% endfor %}
    </div>
</body>
</html>
