{% load static %}<!-- static/templates/job.html -->
<!DOCTYPE html>
<html lang="tg">
<head>
    <meta charset="UTF-8">
    <title>Эҷоди Кор</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Эҷоди Кор</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'create_job' %}">
        {% csrf_token %}
        <label for="title">Унвони Кор:</label>
        <input type="text" name="title" required>

        <label for="company">Ширкат:</label>
        <input type="text" name="company" required>

        <label for="description">Тавсифи Кор:</label>
        <textarea name="description" required></textarea>

        <label for="location">Ҷойгиршавӣ:</label>
        <input type="text" name="location" required>

        <label for="salery">Маош:</label>
        <input type="number" name="salery" required>

        <label for="category">Категория:</label>
        <select name="category">
            {% for cat in create %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>

        <label for="date_post">Рӯзи нашр:</label>
        <input type="date" name="date_post" required>

        <label for="image_poster">Акс:</label>
        <input type="file" name="image_poster" required>

        <button type="submit">Эҷод</button>
    </form>
</body>
</html>
