{% load static %}<!-- static/templates/job_detail.html -->
<!DOCTYPE html>
<html lang="tg">
<head>
    <meta charset="UTF-8">
    <title>{{ job.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="job-detail">
        <img src="{% static 'images/' %}{{ job.image_poster }}" alt="{{ job.title }}" class="job-detail-image">
        <h1>{{ job.title }}</h1>
        <p><strong>Ширкат:</strong> {{ job.company }}</p>
        <p><strong>Ҷойгиршавӣ:</strong> {{ job.location }}</p>
        <p><strong>Маош:</strong> {{ job.salery }}</p>
        <p>{{ job.description }}</p>
        <p><strong>Рӯзи нашр:</strong> {{ job.date_post }}</p>
    </div>
</body>
</html>
